.login, .return {
	background: #f0ba37;
	text-align: center;
	font: normal  bold 1em verdana, arial, helvetica, Geneva;
	
	position: absolute;
	top: 0em;
	right: 0em ;
	
	
	padding:0.2em;

	border: solid 0.24em #000080;

	margin:1em;
	
}


.login a:active, .return a:active	{
	font-size:0.9em;
}



/*	Login page	*/


.login_box	{
	background:#f0ba37;
	
	text-align:center;
	
	font-size: 1.4em;
	
	
	width:12em;
	height:10em;
	
	border-radius: 0.5em;
	
	margin: 8em auto;
	
}


.block{
	margin-top:0.5em ;
	display:block;
}

.dis{
	margin-top:1em;
	
}



